
/*
	######################################## Info Dialog ########################################
*/
.dialogLayout {
	padding: 0.4em 0.1em 0.4em 0.1em !important;
}

.dialogLayout .dialogLayoutCenter {
	border: none !important;
	padding: 0.2em 1em !important;
}

.dialogLayout .dialogLayoutSouth {
	border: none !important;
	padding: 0em 1em !important;
	overflow: hidden !important;
}

/*
	######################################## Settings Dialog ########################################
*/
