/* -------------- Pannelgrid container --------------*/
.newTableContainer>tbody>tr>td, .newTableContainer>tbody>tr,
	.newTableContainer>tbody, .newTableContainer {
	padding: 0px !important;
	border-collapse: collapse !important;
	border: 0px !important;
	border-spacing: 0px !important;
}

.newTableContainer .columnTop {
	vertical-align: top;
}

.newTableContainer .column75px {
	width: 75px !important;
}

.newTableContainer .column100px {
	width: 100px !important;
}

.newTableContainer .column2 {
	width: 5% !important;
}

.newTableContainer .column25 {
	width: 25%;
}

.newTableContainer .column30 {
	width: 30% !important;
}

.newTableContainer .columnHorizontalPadding td {
	padding: 0px 3px !important;
}

/* -------------- New Pannelgrid Style --------------*/
.newStyleListingTable {
	border: none !important;
	border-spacing: 0px !important;
	width: 100% !important;
	table-layout: auto !important;
}

.newStyleListingTable>tbody>tr>td {
	padding: 3px !important;
	border: none !important;
	border-spacing: 0px !important;
	width: auto;
	white-space: nowrap;
}

.newStyleListingTable label {
	padding: 4px !important;
	font-size: 12px !important;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	box-shadow: none !important;
	font-style: normal !important;
	font-variant: normal !important;
}

.newStyleListingTable .ui-radiobutton {
	padding: 4px !important;
}

.newStyleListingTable .ui-state-focus {
	box-shadow: none !important;
}

/* inputfields should be flat, no shadow*/
.newStyleListingTable input, .newStyleListingTable textarea {
	padding: 4px !important;
	font-size: 12px !important;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	box-shadow: none !important;
	font-style: normal !important;
	font-variant: normal !important;
}

/* ODD tr color */
.newStyleListingTable .oddColumnColoredTr>td {
	background-color: #f2f2f2;
}

/* ODD td color */
.newStyleListingTable .oddColumnColored {
	background-color: #f2f2f2;
}

/* -- addintion for seperator table */
.newStyleListingTableSeparator {
	margin-bottom: 5px;
}

.newStyleListingTableSeparator label {
	padding: 4px !important;
	font-size: 15px !important;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	box-shadow: none !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-variant: normal !important;
}

/* -------------- New Pannelgridn Column Styles --------------*/
.newStyleListingTable .columnLabelContainer150 {
	width: 150px !important;
}

.newStyleListingTable .columnLabelContainer200 {
	width: 200px !important;
}

.newStyleListingTable .columnInputContainer300 input,
	.newStyleListingTable .columnInputContainer300 textarea {
	width: 500px !important;
}

/* min width column*/
.newStyleListingTable .columnMinWidth {
	width: 1%;
	white-space: nowrap;
}

/* auto width column*/
.newStyleListingTable .columnAutoWidth {
	text-align: left;
	background-color: #fff;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.newStyleListingTable .columnBold {
	font-weight: bold !important;
}

.newStyleListingTable .columnTop {
	vertical-align: top;
}

.newStyleListingTable .columnTextCenter {
	text-align: center;
}

.newStyleListingTable .columnTextLeft {
	text-align: left;
}

.newStyleListingTable .columnNoVerticalPadding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.newStyleListingTable .columnHorTextcenter {
	text-align: center !important;
}

.newStyleListingTable .columnTop {
	vertical-align: top;
}
/* -------------- New DataTable Style --------------*/
/* for scrollable datatables*/
.newStyleDataTable {
	width: 100%;
	white-space: normal;
}

.newStyleDataTable td {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	border: none !important;
	border-spacing: 0px !important;
	font-size: 12px;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
}

/* labels and column header size */
.newStyleDataTable label, .newStyleDataTable .ui-datatable-scrollable-header .ui-column-title
	{
	font-size: 12px;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
}

/* hide unnecessary header*/
.newStyleDataTable .ui-datatable-scrollable-theadclone {
	display: none;
}

.newStyleDataTable  tr.ui-datatable-odd>td {
	background-color: #f2f2f2;
}

.newStyleDataTable tr.ui-state-highlight>td {
	background-color: #fcf1b8;
	font-weight: bold !important;
	border: none !important;
}

.newStyleDataTable tr.ui-state-highlight>td label {
	font-weight: bold !important;
}

.newStyleDataTable tr.ui-state-hover>td {
	background-color: #fcf1b8;
}

/* option column, no underline*/
.newStyleDataTable .optionsColumn a {
	text-decoration: none !important;
}

/* min width column*/
.newStyleDataTable .columnMinWidth {
	width: 1%;
	white-space: nowrap;
}

/* auto width column*/
.newStyleDataTable .columnAutoWidth {
	text-align: left;
	background-color: #fff;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.newStyleListingTable .columnLongText {
	white-space: normal !important;
}

.newStyleListingTable .columnLongText label {
	padding-left: 0px !important;
}

/* -------------- New DataList Style --------------*/
.newStyleDataList {
	width: 100%;
	white-space: normal;
}

.newStyleDataList table thead tr {
	display: none;
}

.newStyleDataList tr, .newStyleDataList tbody {
	border: none !important;
}

.newStyleDataList td {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	border: none !important;
	border-spacing: 0px !important;
	font-size: 12px;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
}

/* -------------- Simple Dialog Style --------------*/
/* Dialog for adding content */
.contentInputDialog {
	padding: 0px !important;
	border: 0px !important;
	overflow: hidden;
}

/* Dialog header */
.contentInputDialog .dialogHeader {
	padding: 8px 10px;
	font-weight: bold;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	background: #cccccc
		url(/Histo2016/javax.faces.resource/images/ui-bg_highlight-soft_75_cccccc_1x100.png.xhtml?ln=primefaces-smoothness)
		50% 50% repeat-x;
}

.contentInputDialog .dialogHeader, .contentInputDialog .dialogHeader a:-webkit-any-link
	{
	color: #555555;
	font-size: 15px;
}

.contentInputDialog .dialogContent {
	padding: 5px;
	padding-bottom: 0.5em;
}

.contentInputDialog .buttonContainer {
	position: absolute !important;
	bottom: 0.5em !important;
	vertical-align: bottom !important;
	width: 100%;
}

/* small buttons */
.contentInputDialog .buttonContainer .ui-button-text {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

/* left table*/
.contentInputDialog .buttonContainer .left {
	margin-left: 0px;
}

/* button margin for left buttons*/
.contentInputDialog .buttonContainer .left button {
	margin-left: 0.6em !important;
}

.contentInputDialog .buttonContainer .left .ui-chkbox-box {
	margin-left: 0.6em !important;
}

.contentInputDialog .buttonContainer .left label {
	margin-left: 0.6em !important;
}

/* style of the popup menu*/
.contentInputDialog .buttonContainer .left .ui-selectonemenu {
	margin-left: 0.6em !important;
}

/* style of the popup menu*/
.contentInputDialog .buttonContainer .left .ui-selectonemenu .ui-selectonemenu-label
	{
	padding: 0.2em !important;
}

/* right table */
.contentInputDialog .buttonContainer .right {
	margin-right: 0px;
	float: right;
}

/* button margin for right buttons*/
.contentInputDialog .buttonContainer .right button {
	margin-right: 0.6em !important;
}

/* style of the popup menu*/
.customSerachSelectMenuPanel {
	padding: 0px;
}

/* -------------- patient navigation table --------------*/
/* Search container */
.patientNavigationHeader {
	width: 100%;
	border-top: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #d3d3d3 !important;
	text-align: left;
	background: #e6e6e6
		url("/Histo16/javax.faces.resource/images/ui-bg_glass_75_e6e6e6_1x400.png.xhtml?ln=primefaces-smoothness")
		50% 50% repeat-x;
}

/* header tds */
.patientNavigationHeader>tbody>tr>td {
	height: 19px !important;
	color: #555555;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	padding-left: 15px;
	font-size: 1.0em !important;
}

.patientNavigationHeader .buttonContainer {
	margin-right: 10px;
	float: right;
}

.patientNavigationHeader .buttonContainer a {
	text-decoration: none !important;
	color: #555555;
}

/* scrollpanel style */
.patientNavigationScroll {
	height: calc(100vh - 60px);
	border-left: none !important;
	border-top: none !important;
	border-bottom: none !important;
	border-spacing: 0px !important;
}

/* scrollpanel body with*/
.patientNavigationScroll .ui-scrollpanel-content {
	width: calc(100% - 5px) !important;
}

/*scrollpanel bar*/
.patientNavigationScroll .ui-scrollpanel-vbar {
	width: 5px;
}

/* background of the bar*/
.patientNavigationScroll .ui-scrollpanel-track {
	background: none;
}

/* background of the bars drag*/
.patientNavigationScroll .ui-scrollpanel-track .ui-scrollpanel-drag {
	background: #555555;
	border-radius: 5px;
}

.patientNavigationTable {
	
}

.patientNavigationTable .ui-datatable-tablewrapper>table>thead {
	display: none;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>tbody>tr {
	border-left: none;
}

.patientNavigationTable .ui-datatable-tablewrapper>table>tbody>tr>td {
	padding: 0px !important;
	border-left: none;
}

/* change background on mouse over*/
.patientNavigationTable .ui-state-hover {
	background: #e6e6e6 !important;
}

.patientNavigationTable .ui-state-highlight{
	background: #fcf1b8 !important;
}


.patientNavigation .contentTable td {
	border: 0px !important;
	padding: 2px 0px !important;
}

.patientNavigation .contentTable tr {
	background: none;
}

.patientNavigation th, .navigationDataTable  td {
	padding: 4px 14px !important;
}

.patientNavigation .ui-state-hover {
	background: #e6e6e6 !important;
}

.patientNavigation .contentTable .info {
	font-size: 0.7em;
}

/* -------------- Tab Dialog Style --------------*/
.tabDialogLayout {
	padding: 0px !important;
	margin: 0px !important;
	overflow-x: hidden;
}

/* Dialog header */
.tabDialogLayout .dialogHeader {
	padding: 8px 10px;
	font-weight: bold;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif !important;
	background: #cccccc
		url(/Histo2016/javax.faces.resource/images/ui-bg_highlight-soft_75_cccccc_1x100.png.xhtml?ln=primefaces-smoothness)
		50% 50% repeat-x;
}

.tabDialogLayout .dialogHeader, .contentInputDialog .dialogHeader a:-webkit-any-link
	{
	color: #555555;
	font-size: 15px;
}

/* Dialog content */
/* tab view hight + width*/
.tabDialogLayout .tabView {
	width: 100%;
	height: 564px;
}

.tabDialogLayout .ui-tabs, .tabDialogLayout .tabView .ui-panel-content,
	.tabDialogLayout .tabView  .ui-widget-content {
	padding: 0px !important;
	border: 0px !important;
	border-collapse: collapse;
}

/* Layout in the tabview center tab, center div*/
.tabDialogLayout .tabView .contentDiv {
	padding: 1px 1px 1px 0px !important;
	height: 530px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Layout in the tabview center tab, bottom div*/
.tabDialogLayout .tabView .buttonContainer {
	padding: 1px 1px 1px 0px !important;
	height: 30px;
	position: absolute !important;
	bottom: 1px !important;
	vertical-align: bottom !important;
	width: 787px;
}

/* small buttons */
.tabDialogLayout .tabView .buttonContainer .ui-button-text {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

/* left table*/
.tabDialogLayout .tabView .buttonContainer .left {
	margin-left: 0px;
}

/* button margin for left buttons*/
.tabDialogLayout .tabView .buttonContainer .left button {
	margin-left: 0.6em !important;
}

.tabDialogLayout .tabView .buttonContainer .left .ui-chkbox-box {
	margin-left: 0.6em !important;
}

/* right table */
.tabDialogLayout .tabView .buttonContainer .right {
	margin-right: 0px;
	float: right;
}

/* button margin for right buttons*/
.tabDialogLayout .tabView .buttonContainer .right button {
	margin-right: 0.6em !important;
}

/* Background Color tab view on the left sinde */
.tabDialogLayout .tabView .ui-tabs-nav {
	background: none;
	width: 22% !important;
}

/* Tabs on the left side style */
.tabDialogLayout .tabView .ui-tabs-nav li {
	border: 1px solid #a8a8a8 !important;
	border-radius: 3px !important;
	float: left !important;
	width: 100% !important;
	margin-left: 1px !important;
}

/* withd of the tab content on the right*/
.tabDialogLayout .tabView .ui-tabs-panels {
	width: 77% !important;
	min-width: 780px;
}

/* Content Pannel on the right side, header style*/
.tabDialogLayout .tabView .ui-tabs-panels .contentPannel .ui-widget-header
	{
	padding: 4px 0px 4px 10px !important;
	font-weight: bold !important;
	color: #4f4f4f !important;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7) !important;
	margin-bottom: 1px;
}

/* -------------- components --------------*/
/* selectCheckboxMenu */
.selectCheckboxMenu .ui-inputfield {
	box-shadow: none;
}

/* centered checkbox*/
.centerCheckbox {
	padding-top: 4px;
	height: 16px !important;
}

/* Small button */
.smallButton .ui-button-text {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
	font-size: 12px;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
}

/* style of the popup SelectOneMenu*/
.iconFixForSelectOneMenu {
	padding: 0px;
}

/* style of the popup menu*/
.iconFixForSelectOneMenu .ui-selectonemenu-filter {
	width: 77% !important;
	padding: 3px 7px;
}

.numberFixForSpinner .ui-spinner-input {
	padding-right: 25px !important;
}

.lableLineBreak {
	white-space: pre-wrap;
}

/* Spinner for one number*/
.oneNumberSpinner {
	padding-left: 0px !important;
	padding-right: 15px !important;
}

.oneNumberSpinner input {
	width: 10px !important;
	padding-left: 0px !important;
}

/* ---------------- Fonts ------------ */
.standardFont, .standardFont label {
	padding: 4px;
	font-size: 12px;
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
	box-shadow: none;
	font-style: normal;
	font-variant: normal;
}

.icon-green {
	color: green;
}

.icon-purple {
	color: purple;
}

.icon-orange {
	color: orange;
}

.icon-grey {
	color: #555555;
}

.icon-red {
	color: red;
}