.histo_noPadding {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
}
.tableCommonClasses :focus {
  outline: none ! important;
}
.tableCommonClasses .bigFon,
.tableCommonClasses .columnHeading {
  font-weight: bold ! important;
}
.tableCommonClasses .ui-selectonemenu lable {
  padding: 4px 4px ! important;
}
.tableCommonClasses .columnTop {
  vertical-align: top;
}
.tableCommonClasses a {
  text-decoration: none ! important;
}
.tableCommonClasses label {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.tableCommonClasses .headline {
  font-size: 12px ! important;
  font-weight: bold;
}
