/*
 * Class for normal table with scrollable body
 */
div.contentSpaceContainer {
  padding: 4px ! important;
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none ! important;
  font-style: normal ! important;
  font-variant: normal ! important;
}
table.contentSpaceContainer {
  border: none;
  border-spacing: 0px;
  width: 100%;
  table-layout: auto ! important;
}
table.contentSpaceContainer tbody > tr > td {
  border: none ! important;
  border-spacing: 0px ! important;
  width: auto;
  white-space: nowrap;
}
table.contentSpaceContainer tbody > tr > td > label,
table.contentSpaceContainer tbody > tr > td {
  padding: 4px ! important;
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none ! important;
  font-style: normal ! important;
  font-variant: normal ! important;
}
table.contentSpaceContainer > tbody .headline {
  font-size: 14px ! important;
  font-weight: bold;
}
.printDialog_AdressTable {
  width: 100%;
}
.printDialog_AdressTable thead {
  display: block;
  padding: 0px ! important;
}
.printDialog_AdressTable thead td {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(/Histo2016/javax.faces.resource/images/ui-bg_glass_75_e6e6e6_1x400.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x;
}
.printDialog_AdressTable thead td,
.printDialog_AdressTable thead label {
  font-size: 14px;
  font-weight: normal;
  color: #555555 ! important;
}
.printDialog_AdressTable tbody {
  padding: 0px ! important;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.printDialog_AdressTable tbody tr,
.printDialog_AdressTable tbody td {
  border-width: 0px ! important;
  border-spacing: 0px;
}
.printDialog_AdressTable tbody .headline {
  font-size: 14px;
  font-weight: bold;
}
.printDialog_AdressTable tbody tr.alternate_row_background td {
  background-color: #f2f2f2;
}
.printDialog_AdressTable tr {
  width: 100%;
  display: table;
}
.printDialog_AdressTable th,
.printDialog_AdressTable td,
.printDialog_AdressTable label {
  padding: 4px ! important;
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.printDialog_AdressTable .ui-inputfield {
  box-shadow: none;
}
.printDialog_AdressTable tbody {
  height: 175px;
}
.printDialog_AdressTable tr td:nth-child(1) {
  width: 25px;
}
.printDialog_AdressTable tr td:nth-child(2) {
  width: 35px;
}
.printDialog_AdressTable tr td:nth-child(3) {
  width: 80px;
}
.printDialog_AdressTable tr td:nth-child(4) {
  width: auto;
}
.printDialog_AdressTable tr td:nth-child(5) {
  width: 15px;
}
.worklistSearchDialog_FavouriteSearchTable {
  width: 100%;
  white-space: normal;
  width: 98%;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-header table thead tr {
  width: 100%;
  display: table;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-header table thead tr td {
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body table thead {
  display: none;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody {
  border: none !important;
  border-spacing: 0px !important;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr {
  width: 100%;
  display: table;
  border: none !important;
  border-spacing: 0px !important;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr td {
  border: none !important;
  border-spacing: 0px !important;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr.ui-datatable-even > td {
  background-color: #f2f2f2;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr.ui-state-highlight td,
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr.ui-state-highlight label {
  background-color: #fcf1b8 !important;
  font-weight: bold !important;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr.ui-state-hover td,
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body tbody tr.ui-state-hover label {
  background-color: #fcf1b8 !important;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body th,
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body td,
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body label {
  padding: 4px ! important;
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.worklistSearchDialog_FavouriteSearchTable div.ui-datatable-scrollable-body .ui-inputfield {
  box-shadow: none;
}
.worklistSearchDialog_FavouriteSearchTable a {
  text-decoration: none !important;
}
.worklistSearchDialog_FavouriteSearchTable tr td:nth-child(1),
.worklistSearchDialog_FavouriteSearchTable th:nth-child(1) {
  width: 30% !important;
}
.worklistSearchDialog_FavouriteSearchTable tr td:nth-child(2),
.worklistSearchDialog_FavouriteSearchTable th:nth-child(2) {
  width: auto !important;
}
.worklistSearchDialog_FavouriteSearchTable tr td:nth-child(3),
.worklistSearchDialog_FavouriteSearchTable th:nth-child(3) {
  width: 3% !important;
}
