.histo_noPadding {
  padding: 0px !important;
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
}
/*
 * Default Body Style
 */
body {
  margin: 0px !important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  /**
	 * Default Button, fixing the fontsize
	 */
  /**
	 * Smaller radio button
	 */
  /**
	 * small input field
	 */
}
body button {
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
body button .ui-button-icon-left {
  font-size: 14px;
}
body button .ui-button-text {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
body .ui-radiobutton {
  padding: 4px !important;
}
body .ui-radiobutton .ui-radiobutton-box {
  width: 12px;
  height: 12px;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  margin: -2px 0px 0px -1px;
}
body .ui-inputfield {
  box-shadow: none !important;
  padding: 4px !important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
body .icon-green,
body .icon-green:link,
body .icon-green:active,
body .icon-green:hover,
body .icon-green:visited {
  color: green;
}
body .icon-purple,
body .icon-purple:link,
body .icon-purple:active,
body .icon-purple:hover,
body .icon-purple:visited {
  color: purple;
}
body .icon-orange,
body .icon-orange:link,
body .icon-orange:active,
body .icon-orange:hover,
body .icon-orange:visited {
  color: orange;
}
body .icon-grey,
body .icon-grey:link,
body .icon-grey:active,
body .icon-grey:hover,
body .icon-grey:visited {
  color: #555555;
}
body .icon-red,
body .icon-red:link,
body .icon-red:active,
body .icon-red:hover,
body .icon-red:visited {
  color: red;
}
body .icon-blue,
body .icon-blue:link,
body .icon-blue:active,
body .icon-blue:hover,
body .icon-blue:visited {
  color: blue;
}
body .ui-chkbox-box {
  width: 13px !important;
  height: 13px !important;
}
body .ui-chkbox-box .ui-chkbox-icon {
  width: 13px !important;
  height: 13px !important;
  margin: -2px 0px 0px -1px;
}
/*
 * Class for normal table with scrollable body
 */
.defaultHistoTable {
  border: none !important;
  border-spacing: 0px !important;
  width: 100% !important;
  table-layout: auto !important;
}
.defaultHistoTable tbody tr td {
  border: none !important;
  width: auto;
  white-space: normal;
}
.defaultHistoTable tbody tr.even > td {
  border: 1px solid transparent;
  background-color: #f2f2f2;
}
.defaultHistoTable th,
.defaultHistoTable td {
  padding: 3px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoTable label {
  padding: 0px !important;
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoTable label.headline {
  font-size: 12px !important;
  font-weight: bold;
}
.defaultHistoTable :focus {
  outline: none !important;
}
.defaultHistoTable .columnWidth25px {
  width: 25px;
}
.defaultHistoTable .columnWidth50px {
  width: 50px;
}
.defaultHistoTable .columnWidth75px {
  width: 75px;
}
.defaultHistoTable .columnWidth100px {
  width: 100px;
}
.defaultHistoTable .columnWidth125px {
  width: 125px;
}
.defaultHistoTable .columnWidth150px {
  width: 150px;
}
.defaultHistoTable .columnWidth175px {
  width: 175px;
}
.defaultHistoTable .columnWidth200px {
  width: 200px;
}
.defaultHistoTable .columnWidth225px {
  width: 225px;
}
.defaultHistoTable .columnWidth250px {
  width: 250px;
}
/*
 * Class for a normal table layout
 */
.defaultHistoDataTable {
  width: 100%;
  white-space: normal;
}
.defaultHistoDataTable .ui-datatable-scrollable-header table thead tr {
  width: 100%;
}
.defaultHistoDataTable .ui-datatable-scrollable-header table thead tr th,
.defaultHistoDataTable .ui-datatable-scrollable-header table thead tr td {
  padding: 4px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table thead {
  display: none;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody {
  border: none !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr {
  width: 100%;
  border: none !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr td {
  border: 1px solid transparent;
  border-spacing: 1px !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-datatable-even > td {
  border: 1px solid transparent;
  background-color: #f2f2f2;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight {
  border: 1px solid transparent;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight td,
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight label {
  border: 1px solid transparent;
  background-color: #fcf1b8 !important;
  font-weight: bold !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover {
  border: 1px solid transparent;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover td,
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover label {
  border: 1px solid transparent;
  background-color: #fcf1b8 !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table th,
.defaultHistoDataTable .ui-datatable-scrollable-body table td,
.defaultHistoDataTable .ui-datatable-scrollable-body table label {
  padding: 2px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table .ui-inputfield {
  box-shadow: none;
}
.defaultHistoDataTable a {
  text-decoration: none !important;
}
.defaultHistoDataTable :focus {
  outline: none !important;
}
/*
 * scroll data table layout
 * TODO: add normal datatable
 */
div.contentSpaceContainer {
  padding: 4px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
table.contentSpaceContainer {
  border: none;
  border-spacing: 0px;
  width: 100%;
  table-layout: auto ! important;
}
table.contentSpaceContainer tbody > tr > td {
  border: none ! important;
  border-spacing: 0px ! important;
  width: auto;
  white-space: nowrap;
}
table.contentSpaceContainer tbody > tr > td > label,
table.contentSpaceContainer tbody > tr > td {
  padding: 4px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
table.contentSpaceContainer > tbody .headline {
  font-size: 14px ! important;
  font-weight: bold;
}
/* Accordion style */
div.contentAccordionPannel div.ui-accordion-header {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #d3d3d3;
  border-radius: 0px !important;
}
div.contentAccordionPannel div.ui-accordion-header.ui-state-active {
  background: #e6e6e6 url(/Histo2016/javax.faces.resource/images/ui-bg_glass_75_e6e6e6_1x400.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x !important;
  font-weight: normal;
  color: #555555;
}
div.contentAccordionPannel div.ui-accordion-content {
  padding: 0px;
}
div.contentAccordionPannel div.ui-accordion-content table > tbody > tr > td {
  padding: 0px;
  border: none ! important;
  border-spacing: 0px ! important;
}
div.contentAccordionPannel :focus {
  outline: none !important;
}
/*
 * Dialog Sytle
 */
.histoDialogStyle {
  padding: 0px !important;
  border: 0px !important;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.histoDialogStyle div.dialogHeader {
  padding: 2px 5px;
  font-weight: bold;
  background: #cccccc url(/Histo2016/javax.faces.resource/images/ui-bg_highlight-soft_75_cccccc_1x100.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x;
  color: #555555;
  font-size: 14px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.histoDialogStyle div.dialogHeader a:-webkit-any-link {
  color: #555555;
  font-size: 15px;
}
.histoDialogStyle div.dialogContent {
  padding: 4px 2px 2px 2px;
  padding-bottom: 0.5em;
  height: calc(27vh);
  width: clac(96%);
}
.histoDialogStyle div.buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
}
.histoDialogStyle div.buttonContainer > table {
  padding: 0.1em 0em;
}
.histoDialogStyle div.buttonContainer > table tbody > tr,
.histoDialogStyle div.buttonContainer > table tbody > tr > td {
  padding: 0px !important;
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
}
.histoDialogStyle div.buttonContainer .left {
  margin-left: 0px;
  /* style of the popup menu*/
}
.histoDialogStyle div.buttonContainer .left button,
.histoDialogStyle div.buttonContainer .left .ui-selectcheckboxmenu,
.histoDialogStyle div.buttonContainer .left .ui-chkbox-box,
.histoDialogStyle div.buttonContainer .left label {
  margin-left: 0.3em !important;
}
.histoDialogStyle div.buttonContainer .left .ui-selectonemenu {
  margin-left: 0.3em !important;
}
.histoDialogStyle div.buttonContainer .left .ui-selectonemenu .ui-selectonemenu-label {
  padding: 0.2em !important;
}
.histoDialogStyle div.buttonContainer .right {
  margin-right: 0px;
  float: right;
}
.histoDialogStyle div.buttonContainer .right button {
  margin-right: 0.3em !important;
}
.histoDialogStyle div.buttonContainer .right td:last-child > button {
  margin-right: 0em !important;
}
