.histo_noPadding {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
}
/**
 * common classes for tables
 */
.tableCommonClasses W:focus {
  outline: none ! important;
}
.tableCommonClasses .bigFon,
.tableCommonClasses .columnHeading {
  font-weight: bold ! important;
}
.tableCommonClasses .ui-selectonemenu lable {
  padding: 4px 4px ! important;
}
.tableCommonClasses .columnTop {
  vertical-align: top;
}
.tableCommonClasses a {
  text-decoration: none ! important;
}
.tableCommonClasses label {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.tableCommonClasses .headline {
  font-size: 12px ! important;
  font-weight: bold;
}
/**
 * dialog common classes
 */
.dialogCommonClasses div.buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
}
.dialogCommonClasses div.buttonContainer > table {
  padding: 0.1em 0em;
  width: 100%;
}
.dialogCommonClasses div.buttonContainer > table tbody > tr,
.dialogCommonClasses div.buttonContainer > table tbody > tr > td {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
}
.dialogCommonClasses div.buttonContainer .left {
  margin-left: 0px;
  /* style of the popup menu*/
}
.dialogCommonClasses div.buttonContainer .left button,
.dialogCommonClasses div.buttonContainer .left .ui-selectcheckboxmenu,
.dialogCommonClasses div.buttonContainer .left .ui-chkbox-box,
.dialogCommonClasses div.buttonContainer .left label {
  margin-left: 0.3em !important;
}
.dialogCommonClasses div.buttonContainer .left .ui-selectonemenu {
  margin-left: 0.3em !important;
}
.dialogCommonClasses div.buttonContainer .left .ui-selectonemenu .ui-selectonemenu-label {
  padding: 0.2em !important;
}
.dialogCommonClasses div.buttonContainer .right {
  margin-right: 0px;
  float: right;
}
.dialogCommonClasses div.buttonContainer .right button {
  margin-right: 0.3em !important;
}
.dialogCommonClasses div.buttonContainer .right td:last-child > button {
  margin-right: 0em !important;
}
/*
 * Default Body Style
 */
body {
  margin: 0px !important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  /**
	 * Default Button, fixing the fontsize
	 */
  /**
	 * Smaller radio button
	 */
  /**
	 * small input field
	 */
  /* style of the input field of an onSelect primefaces element */
  /* style of the popup menu*/
}
body button {
  font-size: 12px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
body button .ui-button-icon-left {
  font-size: 14px;
}
body button .ui-button-text {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
body .ui-radiobutton {
  padding: 4px !important;
}
body .ui-radiobutton .ui-radiobutton-box {
  width: 12px;
  height: 12px;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  margin: -2px 0px 0px -1px;
}
body .ui-inputfield {
  box-shadow: none !important;
  padding: 4px !important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
body .icon-green,
body .icon-green:link,
body .icon-green:active,
body .icon-green:hover,
body .icon-green:visited {
  color: green;
}
body .icon-purple,
body .icon-purple:link,
body .icon-purple:active,
body .icon-purple:hover,
body .icon-purple:visited {
  color: purple;
}
body .icon-orange,
body .icon-orange:link,
body .icon-orange:active,
body .icon-orange:hover,
body .icon-orange:visited {
  color: orange;
}
body .icon-grey,
body .icon-grey:link,
body .icon-grey:active,
body .icon-grey:hover,
body .icon-grey:visited {
  color: #555555;
}
body .icon-red,
body .icon-red:link,
body .icon-red:active,
body .icon-red:hover,
body .icon-red:visited {
  color: red;
}
body .icon-blue,
body .icon-blue:link,
body .icon-blue:active,
body .icon-blue:hover,
body .icon-blue:visited {
  color: blue;
}
body .ui-chkbox-box {
  width: 13px !important;
  height: 13px !important;
}
body .ui-chkbox-box .ui-chkbox-icon {
  width: 13px !important;
  height: 13px !important;
  margin: -2px 0px 0px -1px;
}
body .searchSelectMenu .ui-inputfield {
  padding: 2px 7px;
}
body .searchSelectMenuPanel {
  padding: 0px;
}
body .searchSelectMenuPanel .ui-selectonemenu-filter {
  width: 77% !important;
  padding: 3px 7px;
}
/*
 * Class for normal table with scrollable body
 */
.defaultHistoTable {
  border: none !important;
  border-spacing: 0px !important;
  width: 100% !important;
  table-layout: auto !important;
}
.defaultHistoTable > tbody > tr > td {
  border: none !important;
  width: auto;
  white-space: normal;
}
.defaultHistoTable > tbody > tr.even > td {
  border: 1px solid transparent;
  background-color: #f2f2f2;
}
.defaultHistoTable th,
.defaultHistoTable td {
  padding: 3px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoTable .columnWidth25 {
  width: 25px;
}
.defaultHistoTable .columnWidth50 {
  width: 50px;
}
.defaultHistoTable .columnWidth75 {
  width: 75px;
}
.defaultHistoTable .columnWidth100 {
  width: 100px;
}
.defaultHistoTable .columnWidth125 {
  width: 125px;
}
.defaultHistoTable .columnWidth150 {
  width: 150px;
}
.defaultHistoTable .columnWidth175 {
  width: 175px;
}
.defaultHistoTable .columnWidth200 {
  width: 200px;
}
.defaultHistoTable .columnWidth225 {
  width: 225px;
}
.defaultHistoTable .columnWidth250 {
  width: 250px;
}
.defaultHistoTable .columnWidthPercent5 {
  width: 5%;
}
.defaultHistoTable .columnWidthPercent10 {
  width: 10%;
}
.defaultHistoTable .columnWidthPercent15 {
  width: 15%;
}
.defaultHistoTable .columnWidthPercent20 {
  width: 20%;
}
.defaultHistoTable .columnWidthPercent25 {
  width: 25%;
}
.defaultHistoTable .columnWidthPercent30 {
  width: 30%;
}
.defaultHistoTable .columnWidthPercent35 {
  width: 35%;
}
.defaultHistoTable .columnWidthPercent40 {
  width: 40%;
}
.defaultHistoTable .columnWidthPercent45 {
  width: 45%;
}
.defaultHistoTable .columnWidthPercent50 {
  width: 50%;
}
.defaultHistoTable .columnWidthPercent55 {
  width: 55%;
}
.defaultHistoTable .columnWidthPercent60 {
  width: 60%;
}
.defaultHistoTable .columnWidthPercent65 {
  width: 65%;
}
.defaultHistoTable .columnWidthPercent70 {
  width: 70%;
}
.defaultHistoTable .columnWidthPercent75 {
  width: 75%;
}
.defaultHistoTable .columnWidthPercent80 {
  width: 80%;
}
.defaultHistoTable .columnWidthPercent85 {
  width: 85%;
}
.defaultHistoTable .columnWidthPercent90 {
  width: 90%;
}
.defaultHistoTable .columnWidthPercent95 {
  width: 95%;
}
.defaultHistoTable .columnWidthPercent100 {
  width: 100%;
}
.defaultHistoTable W:focus {
  outline: none ! important;
}
.defaultHistoTable .bigFon,
.defaultHistoTable .columnHeading {
  font-weight: bold ! important;
}
.defaultHistoTable .ui-selectonemenu lable {
  padding: 4px 4px ! important;
}
.defaultHistoTable .columnTop {
  vertical-align: top;
}
.defaultHistoTable a {
  text-decoration: none ! important;
}
.defaultHistoTable label {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoTable .headline {
  font-size: 12px ! important;
  font-weight: bold;
}
/*
 * Class for a normal table layout
 */
/**
 * Default container with no horizontal padding
 */
.defaultHistoHiddenTableContainer {
  padding: 0px !important;
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
  width: auto;
}
.defaultHistoHiddenTableContainer > tbody > tr > td,
.defaultHistoHiddenTableContainer > tbody > tr,
.defaultHistoHiddenTableContainer > tbody {
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
  padding: 0px !important;
}
.defaultHistoHiddenTableContainer .columnWidth25 {
  width: 25px;
}
.defaultHistoHiddenTableContainer .columnWidth50 {
  width: 50px;
}
.defaultHistoHiddenTableContainer .columnWidth75 {
  width: 75px;
}
.defaultHistoHiddenTableContainer .columnWidth100 {
  width: 100px;
}
.defaultHistoHiddenTableContainer .columnWidth125 {
  width: 125px;
}
.defaultHistoHiddenTableContainer .columnWidth150 {
  width: 150px;
}
.defaultHistoHiddenTableContainer .columnWidth175 {
  width: 175px;
}
.defaultHistoHiddenTableContainer .columnWidth200 {
  width: 200px;
}
.defaultHistoHiddenTableContainer .columnWidth225 {
  width: 225px;
}
.defaultHistoHiddenTableContainer .columnWidth250 {
  width: 250px;
}
.defaultHistoHiddenTableContainer .columnWidthPercent5 {
  width: 5%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent10 {
  width: 10%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent15 {
  width: 15%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent20 {
  width: 20%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent25 {
  width: 25%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent30 {
  width: 30%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent35 {
  width: 35%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent40 {
  width: 40%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent45 {
  width: 45%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent50 {
  width: 50%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent55 {
  width: 55%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent60 {
  width: 60%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent65 {
  width: 65%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent70 {
  width: 70%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent75 {
  width: 75%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent80 {
  width: 80%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent85 {
  width: 85%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent90 {
  width: 90%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent95 {
  width: 95%;
}
.defaultHistoHiddenTableContainer .columnWidthPercent100 {
  width: 100%;
}
.defaultHistoHiddenTableContainer W:focus {
  outline: none ! important;
}
.defaultHistoHiddenTableContainer .bigFon,
.defaultHistoHiddenTableContainer .columnHeading {
  font-weight: bold ! important;
}
.defaultHistoHiddenTableContainer .ui-selectonemenu lable {
  padding: 4px 4px ! important;
}
.defaultHistoHiddenTableContainer .columnTop {
  vertical-align: top;
}
.defaultHistoHiddenTableContainer a {
  text-decoration: none ! important;
}
.defaultHistoHiddenTableContainer label {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoHiddenTableContainer .headline {
  font-size: 12px ! important;
  font-weight: bold;
}
/**
 * Invisible container with normal horizontal td padding
 */
.listingHistoHiddenTableContainer {
  padding: 0px !important;
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
  width: auto;
}
.listingHistoHiddenTableContainer > tbody > tr > td,
.listingHistoHiddenTableContainer > tbody > tr,
.listingHistoHiddenTableContainer > tbody {
  border-collapse: collapse !important;
  border: 0px !important;
  border-spacing: 0px !important;
  padding: 0px 3px !important;
}
.listingHistoHiddenTableContainer > tbody > tr > td:first-child {
  padding-left: 0px !important;
}
.listingHistoHiddenTableContainer .columnWidth25 {
  width: 25px;
}
.listingHistoHiddenTableContainer .columnWidth50 {
  width: 50px;
}
.listingHistoHiddenTableContainer .columnWidth75 {
  width: 75px;
}
.listingHistoHiddenTableContainer .columnWidth100 {
  width: 100px;
}
.listingHistoHiddenTableContainer .columnWidth125 {
  width: 125px;
}
.listingHistoHiddenTableContainer .columnWidth150 {
  width: 150px;
}
.listingHistoHiddenTableContainer .columnWidth175 {
  width: 175px;
}
.listingHistoHiddenTableContainer .columnWidth200 {
  width: 200px;
}
.listingHistoHiddenTableContainer .columnWidth225 {
  width: 225px;
}
.listingHistoHiddenTableContainer .columnWidth250 {
  width: 250px;
}
.listingHistoHiddenTableContainer .columnWidthPercent5 {
  width: 5%;
}
.listingHistoHiddenTableContainer .columnWidthPercent10 {
  width: 10%;
}
.listingHistoHiddenTableContainer .columnWidthPercent15 {
  width: 15%;
}
.listingHistoHiddenTableContainer .columnWidthPercent20 {
  width: 20%;
}
.listingHistoHiddenTableContainer .columnWidthPercent25 {
  width: 25%;
}
.listingHistoHiddenTableContainer .columnWidthPercent30 {
  width: 30%;
}
.listingHistoHiddenTableContainer .columnWidthPercent35 {
  width: 35%;
}
.listingHistoHiddenTableContainer .columnWidthPercent40 {
  width: 40%;
}
.listingHistoHiddenTableContainer .columnWidthPercent45 {
  width: 45%;
}
.listingHistoHiddenTableContainer .columnWidthPercent50 {
  width: 50%;
}
.listingHistoHiddenTableContainer .columnWidthPercent55 {
  width: 55%;
}
.listingHistoHiddenTableContainer .columnWidthPercent60 {
  width: 60%;
}
.listingHistoHiddenTableContainer .columnWidthPercent65 {
  width: 65%;
}
.listingHistoHiddenTableContainer .columnWidthPercent70 {
  width: 70%;
}
.listingHistoHiddenTableContainer .columnWidthPercent75 {
  width: 75%;
}
.listingHistoHiddenTableContainer .columnWidthPercent80 {
  width: 80%;
}
.listingHistoHiddenTableContainer .columnWidthPercent85 {
  width: 85%;
}
.listingHistoHiddenTableContainer .columnWidthPercent90 {
  width: 90%;
}
.listingHistoHiddenTableContainer .columnWidthPercent95 {
  width: 95%;
}
.listingHistoHiddenTableContainer .columnWidthPercent100 {
  width: 100%;
}
.listingHistoHiddenTableContainer W:focus {
  outline: none ! important;
}
.listingHistoHiddenTableContainer .bigFon,
.listingHistoHiddenTableContainer .columnHeading {
  font-weight: bold ! important;
}
.listingHistoHiddenTableContainer .ui-selectonemenu lable {
  padding: 4px 4px ! important;
}
.listingHistoHiddenTableContainer .columnTop {
  vertical-align: top;
}
.listingHistoHiddenTableContainer a {
  text-decoration: none ! important;
}
.listingHistoHiddenTableContainer label {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.listingHistoHiddenTableContainer .headline {
  font-size: 12px ! important;
  font-weight: bold;
}
/**
 * Table with no spacing. Should contain defaultHistoTables
 */
/*
 * Separator for dialogs 
 *
 *	<h:panelGrid columns="1" styleClass="defaultHistoSeperatorTable">
 *		<p:separator />
 *	</h:panelGrid>
 */
.defaultHistoSeperatorTable {
  width: 100%;
}
.defaultHistoSeperatorTable label {
  font-size: 14;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  font-weight: bold !important;
  color: #555555;
}
.defaultHistoSeperatorTable hr {
  width: 100%;
}
.defaultHistoDataTable {
  width: 100%;
  white-space: normal;
}
.defaultHistoDataTable .ui-datatable-scrollable-header table thead tr {
  width: 100%;
}
.defaultHistoDataTable .ui-datatable-scrollable-header table thead tr th,
.defaultHistoDataTable .ui-datatable-scrollable-header table thead tr td {
  padding: 4px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoDataTable .ui-datatable-scrollable-body {
  border-bottom: 1px solid #d3d3d3 !important;
  border-left: 1px solid #d3d3d3 !important;
  border-right: 1px solid #d3d3d3 !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table {
  border-right: none !important;
  border-left: 0px !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table thead {
  display: none;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody {
  border-right: none !important;
  border-left: 0px !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr {
  width: 100%;
  border-left: 0px !important;
  border-right: none !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr td {
  border: 1px solid transparent;
  border-spacing: 0px 1px;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr td:first-child {
  border-left: 0px !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr td:last-child {
  border-right: none !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-datatable-even > td {
  border: 1px solid transparent;
  background-color: #f2f2f2;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight {
  border: 1px solid transparent;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight td,
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight label {
  border: 1px solid transparent;
  background-color: #fcf1b8 !important;
  font-weight: bold !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover {
  border: 1px solid transparent;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover td,
.defaultHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover label {
  border: 1px solid transparent;
  background-color: #fcf1b8 !important;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table th,
.defaultHistoDataTable .ui-datatable-scrollable-body table td,
.defaultHistoDataTable .ui-datatable-scrollable-body table label {
  padding: 2px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.defaultHistoDataTable .ui-datatable-scrollable-body table .ui-inputfield {
  box-shadow: none;
}
.defaultHistoDataTable .columnWidth25 {
  width: 25px;
}
.defaultHistoDataTable .columnWidth50 {
  width: 50px;
}
.defaultHistoDataTable .columnWidth75 {
  width: 75px;
}
.defaultHistoDataTable .columnWidth100 {
  width: 100px;
}
.defaultHistoDataTable .columnWidth125 {
  width: 125px;
}
.defaultHistoDataTable .columnWidth150 {
  width: 150px;
}
.defaultHistoDataTable .columnWidth175 {
  width: 175px;
}
.defaultHistoDataTable .columnWidth200 {
  width: 200px;
}
.defaultHistoDataTable .columnWidth225 {
  width: 225px;
}
.defaultHistoDataTable .columnWidth250 {
  width: 250px;
}
.defaultHistoDataTable a {
  text-decoration: none !important;
}
.defaultHistoDataTable :focus {
  outline: none !important;
}
.bigHistoDataTable {
  width: 100%;
  white-space: normal;
}
.bigHistoDataTable .ui-datatable-scrollable-header table thead tr {
  width: 100%;
}
.bigHistoDataTable .ui-datatable-scrollable-header table thead tr th,
.bigHistoDataTable .ui-datatable-scrollable-header table thead tr td {
  padding: 4px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.bigHistoDataTable .ui-datatable-scrollable-body table {
  border-right: none !important;
  border-left: 0px !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table thead {
  display: none;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody {
  border-right: none !important;
  border-left: 0px !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr {
  width: 100%;
  border-left: 0px !important;
  border-right: none !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr td {
  border: 1px solid transparent;
  border-spacing: 0px 1px;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr td:first-child {
  border-left: 0px !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr td:last-child {
  border-right: none !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-datatable-even > td {
  border: 1px solid transparent;
  background-color: #f2f2f2;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight {
  border: 1px solid transparent;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight td,
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-highlight label {
  border: 1px solid transparent;
  background-color: #fcf1b8 !important;
  font-weight: bold !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover {
  border: 1px solid transparent;
}
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover td,
.bigHistoDataTable .ui-datatable-scrollable-body table tbody tr.ui-state-hover label {
  border: 1px solid transparent;
  background-color: #fcf1b8 !important;
}
.bigHistoDataTable .ui-datatable-scrollable-body table th,
.bigHistoDataTable .ui-datatable-scrollable-body table td,
.bigHistoDataTable .ui-datatable-scrollable-body table label {
  padding: 2px 4px;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.bigHistoDataTable .ui-datatable-scrollable-body table .ui-inputfield {
  box-shadow: none;
}
.bigHistoDataTable .columnWidth25 {
  width: 25px;
}
.bigHistoDataTable .columnWidth50 {
  width: 50px;
}
.bigHistoDataTable .columnWidth75 {
  width: 75px;
}
.bigHistoDataTable .columnWidth100 {
  width: 100px;
}
.bigHistoDataTable .columnWidth125 {
  width: 125px;
}
.bigHistoDataTable .columnWidth150 {
  width: 150px;
}
.bigHistoDataTable .columnWidth175 {
  width: 175px;
}
.bigHistoDataTable .columnWidth200 {
  width: 200px;
}
.bigHistoDataTable .columnWidth225 {
  width: 225px;
}
.bigHistoDataTable .columnWidth250 {
  width: 250px;
}
.bigHistoDataTable a {
  text-decoration: none !important;
}
.bigHistoDataTable :focus {
  outline: none !important;
}
/* 
 * scroll data table layout
 * TODO: add normal datatable
 */
div.contentSpaceContainer {
  padding: 4px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
table.contentSpaceContainer {
  border: none;
  border-spacing: 0px;
  width: 100%;
  table-layout: auto ! important;
}
table.contentSpaceContainer tbody > tr > td {
  border: none ! important;
  border-spacing: 0px ! important;
  width: auto;
  white-space: nowrap;
}
table.contentSpaceContainer tbody > tr > td > label,
table.contentSpaceContainer tbody > tr > td {
  padding: 4px ! important;
  font-size: 11px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
table.contentSpaceContainer > tbody .headline {
  font-size: 14px ! important;
  font-weight: bold;
}
/* Accordion style */
div.contentAccordionPannel div.ui-accordion-header {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #d3d3d3;
  border-radius: 0px !important;
}
div.contentAccordionPannel div.ui-accordion-header.ui-state-active {
  background: #e6e6e6 url(/Histo2016/javax.faces.resource/images/ui-bg_glass_75_e6e6e6_1x400.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x !important;
  font-weight: normal;
  color: #555555;
}
div.contentAccordionPannel div.ui-accordion-content {
  padding: 0px;
}
div.contentAccordionPannel div.ui-accordion-content table > tbody > tr > td {
  padding: 0px;
  border: none ! important;
  border-spacing: 0px ! important;
}
div.contentAccordionPannel :focus {
  outline: none !important;
}
/*
 * Dialog Sytle
 */
.histoDialogStyle {
  padding: 0px !important;
  border: 0px !important;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.histoDialogStyle div.dialogHeader {
  padding: 2px 5px;
  font-weight: bold;
  background: #cccccc url(/Histo2016/javax.faces.resource/images/ui-bg_highlight-soft_75_cccccc_1x100.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x;
  color: #555555;
  font-size: 14px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.histoDialogStyle div.dialogHeader a:-webkit-any-link {
  color: #555555;
  font-size: 15px;
}
.histoDialogStyle div.dialogContent {
  padding: 4px 2px 2px 2px;
  padding-bottom: 0.5em;
  height: calc(27vh);
  width: clac(96%);
}
.histoDialogStyle div.buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
}
.histoDialogStyle div.buttonContainer > table {
  padding: 0.1em 0em;
  width: 100%;
}
.histoDialogStyle div.buttonContainer > table tbody > tr,
.histoDialogStyle div.buttonContainer > table tbody > tr > td {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
}
.histoDialogStyle div.buttonContainer .left {
  margin-left: 0px;
  /* style of the popup menu*/
}
.histoDialogStyle div.buttonContainer .left button,
.histoDialogStyle div.buttonContainer .left .ui-selectcheckboxmenu,
.histoDialogStyle div.buttonContainer .left .ui-chkbox-box,
.histoDialogStyle div.buttonContainer .left label {
  margin-left: 0.3em !important;
}
.histoDialogStyle div.buttonContainer .left .ui-selectonemenu {
  margin-left: 0.3em !important;
}
.histoDialogStyle div.buttonContainer .left .ui-selectonemenu .ui-selectonemenu-label {
  padding: 0.2em !important;
}
.histoDialogStyle div.buttonContainer .right {
  margin-right: 0px;
  float: right;
}
.histoDialogStyle div.buttonContainer .right button {
  margin-right: 0.3em !important;
}
.histoDialogStyle div.buttonContainer .right td:last-child > button {
  margin-right: 0em !important;
}
/**
 * Style for tab dialog
 */
.histoTabDialogStyle {
  padding: 0px !important;
  border: 0px !important;
  overflow: hidden;
  height: 100vh;
}
.histoTabDialogStyle .dialogHeader {
  padding: 2px 5px;
  font-weight: bold;
  background: #cccccc url(/Histo2016/javax.faces.resource/images/ui-bg_highlight-soft_75_cccccc_1x100.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x;
  color: #555555;
  font-size: 14px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
}
.histoTabDialogStyle .dialogHeader a:-webkit-any-link {
  color: #555555;
  font-size: 15px;
}
.histoTabDialogStyle .dialogContainer {
  width: 100%;
  height: calc(67vh);
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
}
.histoTabDialogStyle .dialogContainer > tbody > tr > td:nth-child(1) {
  width: 200px;
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  vertical-align: top;
}
.histoTabDialogStyle .dialogContainer > tbody > tr > td:nth-child(2) {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
  vertical-align: top;
}
.histoTabDialogStyle .dialogContainer .navigationTable {
  width: 97%;
}
.histoTabDialogStyle .dialogContainer .navigationTable button:first-of-type {
  margin-top: 1px !important;
}
.histoTabDialogStyle .dialogContainer .navigationTable button {
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  width: calc(99%);
  margin-left: 1px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.histoTabDialogStyle .dialogContainer .navigationTable button.childButton {
  margin-left: 20px;
  width: calc(80%);
}
.histoTabDialogStyle .dialogContainer .navigationTable button:focus {
  outline: none !important;
}
.histoTabDialogStyle .dialogContainer .navigationTable button.selectedButton {
  background: #ffffff !important;
}
.histoTabDialogStyle .dialogContainer .navigationTable button span {
  float: left;
}
.histoTabDialogStyle .dialogContainer .dialogContent {
  height: calc(100vh - 27px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.histoTabDialogStyle .dialogContainer .dialogContent .headerPannel {
  padding: 2px 5px;
  font-weight: bold;
  background: #cccccc url(/Histo2016/javax.faces.resource/images/ui-bg_highlight-soft_75_cccccc_1x100.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x;
  color: #555555;
  margin-top: 1px;
  font-size: 14px;
  font-family: Verdana, Arial, "Trebuchet MS", sans-serif;
  box-shadow: none;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  display: block;
  width: calc(100% - 12px);
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  margin-bottom: 10px;
}
.histoTabDialogStyle .dialogContainer .dialogContent .headerPannel a:-webkit-any-link {
  color: #555555;
  font-size: 15px;
}
.histoTabDialogStyle .dialogContainer .dialogContent .bodyPannel {
  width: calc(100% - 5px);
  display: block;
}
.histoTabDialogStyle .dialogContainer .dialogContent .bodyPannelFull {
  width: 100%;
  display: block;
}
.histoTabDialogStyle .dialogContainer .dialogContent .bodyPannelScroll {
  width: 100%;
  height: calc(100vh - 110px);
  display: block;
  overflow-y: scroll;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer > table {
  padding: 0.1em 0em;
  width: 100%;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer > table tbody > tr,
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer > table tbody > tr > td {
  padding: 0px;
  border-collapse: collapse ! important;
  border: 0px ! important;
  border-spacing: 0px ! important;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left {
  margin-left: 0px;
  /* style of the popup menu*/
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left button,
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left .ui-selectcheckboxmenu,
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left .ui-chkbox-box,
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left label {
  margin-left: 0.3em !important;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left .ui-selectonemenu {
  margin-left: 0.3em !important;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .left .ui-selectonemenu .ui-selectonemenu-label {
  padding: 0.2em !important;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .right {
  margin-right: 0px;
  float: right;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .right button {
  margin-right: 0.3em !important;
}
.histoTabDialogStyle .dialogContainer .dialogContent div.buttonContainer .right td:last-child > button {
  margin-right: 0em !important;
}
